Package: com.twodayslate.foldergestures
Name: foldergestures
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Gestures for your folders! Tap to dismiss!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Version: 1.0-10
Installed-Size: 68
